.hero {
  width: 50%;
  font-weight: 700;
  &--top {
    margin-bottom: 90px;
  }
  &--main {
    border-radius: 12px;
    padding: 50px 20px;
    border: 1px solid $blue;
    &__top {
      display: flex;
      justify-content: space-between;
    }
    &__bottom {
    }
    &__element {
      margin-bottom: 50px;
    }
  }
}
.hero span {
  font-weight: 400;
  margin-left: 15px;
}
.hero a {
  font-weight: 400;
  margin-left: 15px;
}
