.list {
  width: 45%;
  &--top {
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    &__item {
    }
    &__container {
      position: absolute;
      display: flex;
      background-color: white;
      padding: 15px 10px;
      border: 1px solid gray;
    }
    &__explorers {
      padding: 7px 3px;
      border: 1px solid gray;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  &--main {
    &__container {
      max-height: 700px;
      overflow: auto;
    }
    &__item {
      margin-top: 10px;
      margin-left: 35px;
      cursor: pointer;
      border: 1px solid gray;
      border-radius: 12px;
      padding: 25px 15px;
      display: flex;
      width: 90%;
      justify-content: space-between;
      font-weight: 700;
    }
    &__item span {
      margin-left: 20px;
      font-weight: 400;
    }
    &__item:not(:last-child) {
      margin-bottom: 15px;
    }
    &__item:hover {
      transition: $duration;
      transform: scale(1.05);
    }
  }
}
